{% extends "base.html" %}
{% block content %}
<div class="card">
  <h3>Kitobni tahrirlash</h3>
  <form method="post" action="{{ url_for('admin_edit_book', book_id=book.id) }}" enctype="multipart/form-data">
    <div class="form-row"><label class="small">Sarlavha</label><input class="input" name="title" value="{{ book.title }}"></div>
    <div class="form-row"><label class="small">Muallif</label><input class="input" name="author" value="{{ book.author }}"></div>
    <div class="form-row"><label class="small">Tavsif</label><textarea class="input" name="description">{{ book.description }}</textarea></div>
    <div class="form-row"><label class="small">Yangi fayl (opsional)</label><input type="file" name="file"></div>
    <button class="btn" type="submit">Saqlash</button>
  </form>
</div>
{% endblock %}
