{% extends "base.html" %}
{% block content %}
<div class="card">
  <h3>{{ book.title }}</h3>
  <p class="small">Muallif: {{ book.author }}</p>
  <p>{{ book.description }}</p>
  {% if book.filename %}
    <div style="height:8px"></div>
    <a class="btn" href="{{ url_for('download_file', filename=book.filename) }}">Yuklab olish</a>
  {% endif %}
  <div style="height:12px"></div>
  {% if session.get('is_admin') %}
    <a class="btn" href="{{ url_for('admin_edit_book', book_id=book.id) }}">Tahrirlash</a>
    <a class="btn" href="{{ url_for('admin_delete_book', book_id=book.id) }}">O'chirish</a>
  {% endif %}
</div>
{% endblock %}
